<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <main style="margin: 1em;">
    <h3>User Login</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
        </tr>
        <tr>
          <th scope="col"></th>
        </tr>
        <tr>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <form class="form-inline" action="/login" method="POST">
            <td>
             <div class="form-group mb-2">
              <label for="longURL">Email:  </label>
              <input class="form-control" type="email" name="email" placeholder="Email" style="width: 300px; margin: 1em; margin-left: 2.8em;">
             </div>
            </td>
          </tr>
          <tr>
            <td>
             <div class="form-group mb-2">
              <label for="longURL">Password:</label>
              <input class="form-control" type="password" name="password" placeholder="Password" style="width: 300px; margin: 1em">  
             </div>
            </td>
          </tr>
          <tr>
            <td>
             <button type="submit" class="btn btn-primary btn-lg" style="width:100px;background-color:rgb(31, 148, 187);font-size: large;">Login</button>
            </td>
          </form>      
        </tr>
      </tbody>
    </table>
  </main>
</body>
</html>
